odoo_test_helper
odoo-addon-stock_available_to_promise_release_carrier_alternative @ git+https://github.com/OCA/stock-logistics-reservation.git@refs/pull/17/head#subdirectory=stock_available_to_promise_release_carrier_alternative
odoo-addon-stock_release_channel @ git+https://github.com/OCA/stock-logistics-release-channel.git@refs/pull/38/head#subdirectory=stock_release_channel
